* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container {
    padding: 0px 0px;
    /*border: 1px solid rgb(211, 231, 33);*/
    position: relative;
}

.box-shadow {
    height: 72px;
    /*border: 1px solid rgb(207, 25, 153);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 6px 7px -4px rgba(83, 83, 83, 0.2);
}

.box-shadow2 {
    height: 72px;
    /*border: 1px solid rgb(207, 25, 153);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 6px 7px -4px rgba(83, 83, 83, 0.2);
}



h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;

}

.logocolor {
    color: #57AD56;
    font-size: 24px;
    font-weight: 1000;

}


.container1 {
    /*создан внутри container для расположения элемента справа;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.containerRight {

    /*border: 1px solid rgb(218, 128, 12);*/
    display: flex;
    /*параметры положения текста*/
    align-items: center;
    /*центрирует текст вертикально*/
    justify-content: flex-end;
    /*центрирует текст горизонтально*/
}


.button {
    width: 78px;
    height: 40px;
    border: 1px solid rgb(153, 154, 155);
    border-radius: 2px;
    margin-right: 4px;
    background: linear-gradient(1000deg, #f1f1f1, #787a78);
}

.button:hover {
    background: linear-gradient(-1000deg, #f1f1f1, #27804f);
    animation: flip__1 1s;
}

@keyframes flip__1 {

    0%,
    100% {
        transform: rotateX(0);
    }

    50% {
        transform: rotateX(-50deg);
    }
}


.box-shadow__button {
    background-color: transparent;
    /*убираем фон*/
    border: none;
    /*убираем границы кнопки*/
    margin-left: 16px;
}

.box-shadow__button:hover {
    animation: flip 1s;
    /* Название и время анимации */
}

@keyframes flip {

    0%,
    100% {
        transform: rotateX(0);
    }

    50% {
        transform: rotateX(-180deg);
    }
}


@media (max-width: 767px) {

    .container,
    .box-shadow {
        padding: 0px 5px;
        margin: 0px 0px;
        position: relative;
    }
}

span {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #626262;
    margin-right: 30px;
}

.form__input {
    margin: 56px 0px 0px 0px;
    background-color: transparent;
    /*убираем фон*/
    border: none;
    /*убираем границы кнопки*/
    box-shadow: 0 6px 0px -4px rgba(83, 83, 83, 0.2);
    width: inherit;
}

.form__input:focus {
    outline: none;
    /*убираем границы поля поиска при нажатии*/
    color: rgb(100, 100, 100);
}

h3 {
    font-size: 22px;
    margin: 56px 0px 20px 0px;
}

footer {
    position: relative;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #626262;
    font-weight: 500;
}

a:focus {
    color: green;
}


.down {
    /*border: 1px solid rgb(207, 25, 153);*/
    box-shadow: 0 6px 7px -4px rgba(83, 83, 83, 0.2);
    background: #262626;
}

h5 {
    color: cornsilk;
    font-size: 19px;
    border-bottom: 1px solid #afabab;
    padding: 45px 0px;
    /*border: 1px solid rgb(207, 25, 153);*/

}

.logocolor2 {
    font-size: 19px;
    margin: 0;
    font-weight: 1000;
}

.language {
    height: 35px;
    width: inherit;
    background: #3B3B3B;
    color: #fffefe;
    border: none;
    padding-left: 35px;
    padding-top: 5px;
    cursor: pointer;

}

.select-wrapper {
    width: 227px;
    position: relative;
}

.select-wrapper::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px;
    display: block;
    width: 13px;
    height: 13px;
    background-color: rgb(241, 233, 233);
    mask-image: url(/public/img/UBER/world.png);
    mask-size: 13px;
}

h6 {
    color: #f1f1f1;
    font-size: 16px;
}


.p3 {
    font-size: 13px;
    color: #f1f1f1;
}

.language {
    padding-bottom: 10px;
}

.blockfooter1 {
    margin-top: 41px;
    padding-bottom: 21px;
    border-bottom: 1px solid #afabab;
}

.blockfooter12 {
    margin: 21px 0px;
}

.blockfooter2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #afabab;

}

.blockfooter3 {
    margin-top: 41px;
    padding-bottom: 21px;
    padding-right: 5px;

}


.col-sm-12 .col-md-6 .col-xl-4 {
    text-align: center;

}

.row {
    position: relative;
}

.container2 {
    position: absolute;
    /*в контейнере кнопка наверх*/
    bottom: 0px;
    width: 100%;
    /*border: 1px solid rgb(25, 189, 218);*/
    display: flex;
    justify-content: flex-end;
}



/*#TOP:before {
    display: block;
    content: '';
    height: 84px;
    margin: -84px 0 0
    //не дает заголовку при переходе по ссылке скрываться под position: fixed;
}*/

.button-right {
    /* border: 1px solid rgb(211, 231, 33);*/
    left: 0px;
    background: #57AD56;
    width: 80px;
    height: 80px;
    margin-right: 12px;
}

.row {

    position: relative;
    height: 1500px;
    width: 100%;
}

.col-sm-12 .col-md-6 .col-xl-4 {
    margin: auto;
    display: flex;
    justify-content: center;
}

.card__restaurant {
    transition: transform 1s;
    /* Animation */
}

.card__restaurant:hover {
    z-index: 1;
    border: 1px solid rgb(187, 187, 186);
    background: #f1f1f1;
    transform: scale(1.05);

}


.restaurant {

    margin: 80px 0px;
    background: rgba(252, 251, 251, 0.9);
    width: 389px;
    height: 204px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: rgba(91, 96, 99, 0.3) 0px 1px 2px 0px, rgba(105, 111, 116, 0.15) 0px 2px 6px 2px;
}

.rect1 {
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blockOval {
    background: #262626;
    height: 32px;
    width: 100px;
    border-radius: 20px;
}

.time {
    margin: 5px 15px;
    font-size: 13px;
    color: #f1f1f1;
}

/*.wrapper {
    width: inherit;
    height: inherit;
    /* размеры родительского контейнера windWhapper*/
/*background-size: cover;
background-position: center;
background-image: url('/public/img/UBER/photo10.png');*/




.menuTop__list {
    display: flex;
    text-align: center;
    gap: 50px;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #626262;
    padding: 40px 0px 25px 0px;
}



.block {
    height: 160px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(196, 194, 194);
    margin-bottom: 50px;
}


h4 {
    font-size: 16px;
}

.inblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px;
}


b {
    font-size: 15px;
}


@media screen and (max-width:800px) {

    .container {
        margin: 0px 3px;
        /*border: 1px solid rgb(211, 231, 33);*/
    }

}


@media screen and (max-width:500px) {
    .kor {
        display: none;
    }

    .container {
        margin: 0px 0px;
        padding: 0;
        /*border: 1px solid rgb(211, 231, 33);*/
    }

    .menuTop,
    .menuTop__list,
    .box-shadow2 {
        display: none;
    }

    .containerCENTER {
        width: inherit;
        display: flex;
        border: 1px solid rgb(231, 33, 165);
    }

    .windWhapper {
        position: relative;
    }

    .restaurant {
        width: 308px;
        height: 180px;
        margin-top: 230px;
        /*ниже выравнивание по цетру*/
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        /*object-fit: cover;*/
        /*если в ставляем картинку и хотим, чтобы она не растягивалась*/
        display: flex;
        flex-direction: column;

    }

    .rect1 {
        font-size: 24px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .block {
        height: 102px;
        margin-top: 10px;
        margin-bottom: 0;
        border: none;
        border-bottom: 1px solid rgb(196, 194, 194);

    }



    picture {
        height: 255px;
    }

    h4 {
        width: 225px;
        white-space: nowrap;
        /* Текст не переносится */
        overflow: hidden;
        /* Обрезаем всё за пределами блока */
        text-overflow: ellipsis;
        /* Добавляем многоточие */
    }

    h3 {
        margin-top: 120px;
        margin-bottom: 50px;
        width: inherit;
        text-align: center;
    }

    .select-wrapper::before {
        content: "";
        position: absolute;
        height: 13px;
        width: 6px;
        top: 10px;
        left: 15px;
        display: block;
        mask-image: url(/public/img/UBER/Shape.png);
        mask-size: 7px;
    }

    .select-wrapper {
        width: 176px;
    }

    .underline {
        position: absolute;
        width: 50px;
        height: 1px;
        border: 1px solid #757575;
        margin-top: 30px;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

}